<form #signUp="ngForm" (ngSubmit)="onSubmit()">
    <div>
      Form submitted ? {{signUp.submitted}}
      Form valid ? {{signUp.valid}}
      Form invalid ? {{signUp.valid}}
    </div>
  
    <fieldset>
      <label for="firstname">FirstName</label>
      <input id="firstname" name="firstname" type="text" [(ngModel)]="model.firstname" #firstname="ngModel" required minlength="3" maxlength="15"/>
    </fieldset>
  
    
    <div *ngIf="signUp.submitted">
      <span *ngIf="firstname.errors?.['required']">Le prénom est requis</span>
      <span *ngIf="firstname.errors?.['minlength']">La longueur minimale doit être supérieure à 3</span>
      <span *ngIf="firstname.errors?.['maxlength']">La longueur maximale doit être inférieure à 15</span>
    </div>
  
  
    <fieldset>
      <label for="name">Name</label>
      <input id="name" name="name" type="text" [(ngModel)]="model.name" #name="ngModel" required minlength="3" maxlength="15"/>
    </fieldset>
  
    
    <div *ngIf="signUp.submitted">
      <span *ngIf="name.errors?.['required']">Le nom est requis</span>
      <span *ngIf="name.errors?.['minlength']">La longueur minimale doit être supérieure à 3</span>
      <span *ngIf="name.errors?.['maxlength']">La longueur maximale doit être inférieure à 15</span>
    </div>
  
    <fieldset>
      <label for="email">Email</label>
      <input id="email" name="email" type="email" [(ngModel)]="model.email" #email="ngModel" required email>
    </fieldset>
  
    
    <div *ngIf="signUp.submitted">
      <span *ngIf="email.errors?.['required']">Le champ email est requis</span>
      <span *ngIf="email.errors?.['email']">L'email est invalide</span>
    </div>

    <fieldset>
      <label for="password">Password</label>
      <input id="password" name="password" type="password" [(ngModel)]="model.password" #password="ngModel" required minlength="3" maxlength="15"/>
    </fieldset>
  
    
    <div *ngIf="signUp.submitted">
      <span *ngIf="password.errors?.['required']">Le mot de pass est requis</span>
      <span *ngIf="password.errors?.['minlength']">La longueur minimale doit être supérieure à 3</span>
      <span *ngIf="password.errors?.['maxlength']">La longueur maximale doit être inférieure à 15</span>
    </div>
  
  
    
    <button type="submit">Sauvegarder</button>
  </form>